{% extends "base.html" %}

{% block content %}
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="coupon__link"><span class="icon_tag_alt"></span> <a href="#">Have a coupon?</a> Click
                here to enter your code.</h6>
            </div>
        </div>
        <form action="#" class="checkout__form" method="POST">
            <div class="row">
                <div class="col-lg-8">
                    <h5>Billing detail</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="checkout__form__input">
                                <p>recipient <span>*</span></p>
                                <input type="text"  name="recipient" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="checkout__form__input">
                                <p>Country <span>*</span></p>
                                <input type="text"  name="country" required>
                            </div>
                            <div class="checkout__form__input">
                                <p>Address <span>*</span></p>
                                <input type="text" placeholder="address line1" name="address_line1" required>
                                <input type="text" placeholder="address line2" name="address_line2" required>
                            </div>
                            <div class="checkout__form__input">
                                <p>Town/City <span>*</span></p>
                                <input type="text"  name="city" required>
                            </div>
                            <div class="checkout__form__input">
                                <p>Postcode <span>*</span></p>
                                <input type="text"  name="postal_code" required>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="checkout__form__input">
                                <p>state <span>*</span></p>
                                <input type="text" name="state" required>
                            </div>
                        </div>
                    
                        <div class="col-lg-12">
                            <div class="checkout__form__checkbox">
                                </div>
                                <div class="checkout__form__input">
                                    <p>Oder notes <span>*</span></p>
                                    <input type="text"
                                    placeholder="Note about your order, e.g, special noe for delivery" name='feedback'>
                                </div>
                            </div>
                        </div>
             
                        <div class="col-lg-12" style="padding:0;">
                            <div class="checkout__form__checkbox">
                                <select class="form-control form-select-lg border" name="method" required aria-label=".form-select-lg example">
                                    <option value="paypal">PayPal</option>
                                    <option value="credit_card">Debit Card Payments</option>
                                    <option value="Debit Card Payments">Debit Card Payments</option>
                                    <option value="Cash">Cash</option>
                                </select>
                            </div>
                            <div class="checkout__form__checkbox">
                                <div class="checkout__form__input">
                                    <p>Oder notes <span>*</span></p>
                                    <input type="number" name='rating' min = 0 max = 5 value=5>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-lg-4">
                        <div class="checkout__order">
                            <h5>Your order</h5>
                            <div class="checkout__order__product">
                                <ul>
                                    <li>
                                        <span class="top__text">Product</span>
                                        <span class="top__text__right">Total</span>
                                    </li>
                                    
                                    {% for item in order.orderitems %}
                                        
                                        <li>{{ item.id }}. {{ item.product.name }} <span>$ {{ item.unit_price*item.quantity }}</span></li>
                                    {% endfor %}

                                </ul>
                            </div>
                            <div class="checkout__order__total">
                                <ul>
                                    <li>Total <span>$ {{ order.total_amount }}</span></li>
                                </ul>
                            </div>
                            <button type="submit" class="site-btn">Place oder</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Checkout Section End -->

   
{% endblock content %}
    